{% extends "window.html" %}
{% block keeper_form %}
  <form action="keeper" method="post" name="login">
      {{ keeper_form.hidden_tag() }}
      <p>
      {{keeper_form.keeper.label}} {{ keeper_form.keeper(**{"onchange":"this.form.submit()"}) }}<br>
      </p>
  </form>
{% endblock %}
{% block sai_arbitrage_form %}
{% if keeper == 'sai_ar' %}
          <form action="sai_arbitrage" method="post" name="sai_arbitrage" id="sai_arbitrage">
              {{ sai_arbitrage_form.hidden_tag() }}
                    <table>
                    <thead></thead>
                    <tbody>
                     <tr>
                     <td>{{ sai_arbitrage_form.eth_from.label }}</td>  <td>{{ sai_arbitrage_form.eth_from(size=50, value=config['sai_arbitrage']['eth-from']) }}</td>
                     </tr>
					  {% for error in sai_arbitrage_form.eth_from.errors %}
						 <tr style="color: red;"><td></td><td>{{error}}</td></tr>
					  {% endfor %}
                     <tr>
                     <td>{{ sai_arbitrage_form.base_token.label }}</td>  <td>{{ sai_arbitrage_form.base_token(size=5, value=config['sai_arbitrage']['base-token']) }}</td>
                     </tr>
					  {% for error in sai_arbitrage_form.base_token.errors %}
						 <tr style="color: red;"><td></td><td>{{error}}</td></tr>
					  {% endfor %}
                      <tr>
                      <td>{{ sai_arbitrage_form.minimum_profit.label }}</td> <td>{{ sai_arbitrage_form.minimum_profit(value=config['sai_arbitrage']['min-profit']) }}</td>
                      </tr>
					  {% for error in sai_arbitrage_form.minimum_profit.errors %}
						 <tr style="color: red;"><td></td><td>{{error}}</td></tr>
					  {% endfor %}
                      <tr>
                      <td>{{ sai_arbitrage_form.maximum_engagement.label }}</td> <td>{{ sai_arbitrage_form.maximum_engagement(size=5, value=config['sai_arbitrage']['max-engagement']) }}</td>
                      </tr>
					  {% for error in sai_arbitrage_form.maximum_engagement.errors %}
						 <tr style="color: red;"><td></td><td>{{error}}</td></tr>
					  {% endfor %}
                      <tr>
                      <td>{{ sai_arbitrage_form.max_errors.label }}</td> <td>{{ sai_arbitrage_form.max_errors(size=5, value=config['sai_arbitrage']['max-errors']) }}</td>
                      </tr>
					  {% for error in sai_arbitrage_form.max_errors.errors %}
						 <tr style="color: red;"><td></td><td>{{error}}</td></tr>
					  {% endfor %}
                       <tr>
                       <td>{{ sai_arbitrage_form.auth_token.label }}</td> <td>{{ sai_arbitrage_form.auth_token }}</td>
                       </tr>
						{% if config['sai_arbitrage']['auth_error']%}
						<tr style="color: red;"><td></td><td>{{config['sai_arbitrage']['auth_error']}}</td></tr>
						{% endif%}
                      <tr>
                      <td>{{ sai_arbitrage_form.tx_manager.label }}</td> <td>{{ sai_arbitrage_form.tx_manager(size=50, value=config['sai_arbitrage']['tx-manager']) }}</td>
                      </tr>
					  {% for error in sai_arbitrage_form.tx_manager.errors %}
						 <tr style="color: red;"><td></td><td>{{error}}</td></tr>
					  {% endfor %}
					  <tr>
					  <td>{{ sai_arbitrage_form.rpc_host.label }}</td> <td>{{ sai_arbitrage_form.rpc_host(size=50, value=config['sai_arbitrage']['rpc-host']) }}</td>
					  </tr>
					  {% for error in sai_arbitrage_form.rpc_host.errors %}
						 <tr style="color: red;"><td></td><td>{{error}}</td></tr>
					  {% endfor %}
					  <tr>
					  <td>{{ sai_arbitrage_form.rpc_port.label }}</td> <td>{{ sai_arbitrage_form.rpc_port(size=5, value=config['sai_arbitrage']['rpc-port']) }}</td>
					  </tr>
					  {% for error in sai_arbitrage_form.rpc_port.errors %}
						 <tr style="color: red;"><td></td><td>{{error}}</td></tr>
					  {% endfor %}
                      <tr>
                      <td>{{ sai_arbitrage_form.server_cmd.label }}</td> <td>{{ sai_arbitrage_form.server_cmd }}</td>
                      </tr>
					  {% for error in sai_arbitrage_form.server_cmd.errors %}
						 <tr style="color: red;"><td></td><td>{{error}}</td></tr>
					  {% endfor %}
					  {% if config['sai_arbitrage']['service_error'] %}
						 <tr style="color: red;"><td></td><td>{{config['sai_arbitrage']['service_error'] }}</td></tr>
					  {% endif %}
					  {% if config['sai_arbitrage']['service_ok'] %}
						 <tr style="color: green;"><td></td><td>{{config['sai_arbitrage']['service_ok'] }}</td></tr>
					  {% endif %}
                        
                      <tr>
                      <td><input type="submit" value="Update" ></td>
                      </tr>
                    </tbody>
                    </table>
          </form>
{% endif %}
{% endblock %}

{% block sai_bite_form %}
{% if keeper == 'sai_bi' %}
          <form action="sai_bite" method="post" name="sai_bite" id="sai_bite">
              {{ sai_bite_form.hidden_tag() }}
              <p>
              <table>
              <tr>
              <td>{{ sai_bite_form.eth_from.label }}</td> <td>{{ sai_bite_form.eth_from(size=50, value=config['sai_bite']['eth-from']) }}</td>
              </tr>
			  {% for error in sai_bite_form.eth_from.errors %}
			     <tr style="color: red;"><td></td><td>{{error}}</td></tr>
        	  {% endfor %}
              <tr>
              <td>{{ sai_bite_form.frequency.label }}</td> <td>{{ sai_bite_form.frequency(size=5, value=config['sai_bite']['frequency']) }}</td>
              </tr>
			  {% for error in sai_bite_form.frequency.errors %}
			     <tr style="color: red;"><td></td><td>{{error}}</td></tr>
        	  {% endfor %}
              <tr>
              <td>{{ sai_bite_form.auth_token.label }}</td> <td>{{ sai_bite_form.auth_token }}</td>
              </tr>
				{% if config['sai_bite']['auth_error']%}
				<tr style="color: red;"><td></td><td>{{config['sai_bite']['auth_error']}}</td></tr>
				{% endif%}
              <tr>
              <td>{{ sai_bite_form.rpc_host.label }}</td> <td>{{ sai_bite_form.rpc_host(size=50, value=config['sai_bite']['rpc-host']) }}</td>
              </tr>
			  {% for error in sai_bite_form.rpc_host.errors %}
			     <tr style="color: red;"><td></td><td>{{error}}</td></tr>
        	  {% endfor %}
              <tr>
              <td>{{ sai_bite_form.rpc_port.label }}</td> <td>{{ sai_bite_form.rpc_port(size=5, value=config['sai_bite']['rpc-port']) }}</td>
              </tr>
			  {% for error in sai_bite_form.rpc_port.errors %}
			     <tr style="color: red;"><td></td><td>{{error}}</td></tr>
        	  {% endfor %}
              <tr>
              <td>{{ sai_bite_form.server_cmd.label }}</td> <td>{{ sai_bite_form.server_cmd }}</td>
              </tr>
			  {% for error in sai_bite_form.server_cmd.errors %}
			     <tr style="color: red;"><td></td><td>{{error}}</td></tr>
        	  {% endfor %}
			  {% if config['sai_bite']['service_ok'] %}
				 <tr style="color: green;"><td></td><td>{{config['sai_bite']['service_ok'] }}</td></tr>
			  {% endif %}
              </table>        
              <input type="submit" value="Update" >
              </p>
          </form>
{% endif %}
{% endblock %}

