<html>
    <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

        <title>{{ title }} </title>
    </head>


    <body>
        <h1>{{ title }} </h1>
	<h2>Monitor keeper - <span id="keeper_name"></span></h2>
    	{% block keeper_form %}
    	{% endblock %}
        <div id="logwindow"></div>
    	{% block sai_arbitrage_form %}
    	{% endblock %}
    	{% block sai_bite_form %}
    	{% endblock %}
	</form>
    </body>
    <script>
	    function updateLog(xhr){
		    var logLines = xhr.responseText.split( /\r?\n/ );
		    var lastLine = logLines[0];
		    lastIdCheck = lastLine.replace( /^(.*?) .*/, "$1" );
		    if(lastIdCheck != ""){ lastId = lastIdCheck; }
		    var log_no_hash = logLines.reverse().join('\n').replace( /^.*? /mg, "" );
		    //log_no_hash = log_no_hash.replace(/<br\/>\s*.*? /mg,"<br/>");
		    document.getElementById("logwindow").innerHTML += log_no_hash;
			if(log_no_hash != ""){
			    var elem = document.getElementById('logwindow');
			    elem.scrollTop = elem.scrollHeight;
			}
	    }

	    function onLoad(evt){
		    updateLog(xhr);
		    setInterval(function() {
				    var xhr = new XMLHttpRequest();
				    xhr.addEventListener("load", onLoadNew);
				    xhr.open('GET', '{{ url_for('stream') }}'+"?last_id="+lastId+"&keeper={{keeper}}");
				    xhr.send();
				    function onLoadNew(evt){
				    updateLog(xhr);
				    }
				    }, 1000);
	    };
            var names={dai_bb:"{{config['flask']['DAI_BB']}}", sai_ar:"{{config['flask']['SAI_AR']}}", sai_bi:"{{config['flask']['SAI_BI']}}", sai_to:"{{config['flask']['SAI_TO']}}"};
	    document.getElementById("keeper_name").innerHTML=names.{{keeper}};
	    document.getElementById('keeper').value = '{{keeper}}'
	    var xhr = new XMLHttpRequest();
	    var lastId=""
	    xhr.addEventListener("load", onLoad);
	    xhr.open('GET', '{{ url_for('stream') }}'+"?last_id=&keeper={{keeper}}");
	    xhr.send();
    </script>
</html>
